#chat-screen{
    background-color: aqua;
    height:1000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header{
    position:fixed;
    width:100%;
    box-sizing: border-box;
    /* background-color: aqua; */
}
#chat-screen .alt-header{
    top: 30px;
}
.chat{
    margin-top: 110px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.chat__timestamp{
    color: red;
    background-color: antiquewhite;
    padding:15px;
    border-radius: 22px;
    margin-bottom: 60px;
}
.message-row{
    width: 100%;
    display:flex;
    /* align-items: center; */
}
.message-row img{
    width:50px;
    height: 50px;;
    border-radius: 50%;
    margin-right: 15px;
}
.message__author{
    opacity: 0.7;   
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__bubble{
    border: 1px solid white;
    padding: 8px 10px;
    border-radius: 40%;
    background-color: white;
    border-top-left-radius: 0px;
}
.message__time{
    font-size: 12px;
    opacity: 0.7;   
  
}