#chat-screen{
    background-color: aqua;
    height:1000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header{
    position:fixed;
    width:100%;
    box-sizing: border-box;
    /* background-color: aqua; */
}
#chat-screen .alt-header{
    top: 30px;
}
.chat{
    margin-top: 110px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.chat__timestamp{
    color: red;
    background-color: antiquewhite;
    padding:15px;
    border-radius: 22px;
    margin-bottom: 60px;
}
.message-row{
    width: 100%;
    display:flex;
    /* align-items: center; */
}
.message-row img{
    width:50px;
    height: 50px;;
    border-radius: 50%;
    margin-right: 15px;
}
.message__author{
    opacity: 0.7;   
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__bubble{
    border: 1px solid white;
    padding: 8px 10px;
    border-radius: 40%;
    background-color: white;
    border-top-left-radius: 0px;
}
.message__time{
    font-size: 12px;
    opacity: 0.7;   
  
}
.message-row--own{
    justify-content:flex-end;
}
.message-row--own .message__bubble{
    background-color: yellowgreen;
    border-top-right-radius: 0px;
    border-top-left-radius: 50%;
    margin-left: 5px;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}
.reply{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: white;
    display:flex;
    justify-content:space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
}
/* input에 100%주려면 부모인 reply__column에 먼저 width를 주고 시작해야함 */
.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width: 90%;
    position: relative;   
}
.reply input{
    height: 30px;
    width: 100%;
    border:var(--main-border);
    border-radius:20px;
    padding:10px;
}
.reply__column:last-child >i,
.reply button {
    position:absolute;
    right: -20px;
    top: 12px;
}
.reply__column:last-child >i {
    right: 20px;
   top: 20px;
}
.reply__column button{
    background-color:yellow;
    border:none;
    width: 30px;
    height:30px;
    border-radius: 50%;
   
}
.reply__column button i{
    opacity: 1;
}
.reply__column button:focus,
.reply__column button:active{
    outline: none;
}
.reply i{
    opacity: 0.7;
}