.nav{
    background-color: #f9f9fa;
    padding: 20px 50px;
    /* position: fixed; */
    border-top: 1px solid rgba(122,122,122,0.4);
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.nav__list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav__link{
    color: #2e363e;
    position: relative;
}

.nav__notification{
    position: absolute;
    left: 18px;
    border: 1px red solid;
    display: block;
    width:22px;
    height:22px;
    background-color: green;
    color: white;
    border-radius: 50%;
    text-align: center;
    top: -18px;
    font-size: 20px;
}
.nav__link i {
    font-size: 30px;
}