.screen-header {
    display: flex;
    justify-content:space-between;
    padding:30px;
    /* padding-bottom: 0px; */
    
}

.screen-header__title {
    font-size: 40px;
    font-weight: 600;
}
.screen-header__icon span{
    margin-left: 20px;
    color: rgba(0,0,0,0.7);
}
.screen-header__icon span:last-child img{
    position:relative;
}