.status-bar__column span{
    margin: 0px 5px;
}
.welcome-header{
    text-align:center;
    margin-top: 80px;
    
}
.status-bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
