* {
   
    margin: 0px;
    box-sizing: content-box;
    font-family: 'Nanum Brush Script', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600&family=Readex+Pro&family=Redacted+Script&family=Sora&display=swap');
.status-bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.status-bar__column span{
    margin: 0px 5px;
}
.title-header{
    text-align:center;
    margin-top: 80px;
    
}
.title-header h1{
    margin-bottom: 50px;
}
.title-header p{
    margin-bottom: 120px;
}
#title-form{
   display:flex;
   flex-direction: column;
   align-items: center;
}
#title-form input{
    width: 80%;
    margin: 0px 30px;
    border: none;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
    margin-bottom: 15px;
}
#title-form input:nth-child(2) {
    margin-bottom: 20px;
}
#title-form input::placeholder {
    font-size: 30px;
    opacity:0.7;
    
}
#title-form input:not([type='submit']) {
    transition: border-bottom-color 0.2s ease-in-out
}
#title-form input:focus{
    outline:none;
    border-bottom-color: red;
}
#title-form [type='submit'] {
    background-color: yellowgreen;
    font-size: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
}