@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@200;300;400;500;600&family=Readex+Pro&family=Redacted+Script&family=Sora&display=swap');
/* components */
@import 'components2/status.css';
@import 'components2/nav-bar.css';
@import 'components2/screen-header.css';
@import 'components2/user-components.css';
/* screens */
@import 'screens/login.css';
@import 'screens/friends.css';
@import 'screens/chats.css';
* {
   
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Nanum Brush Script', cursive;
}

