.friends-main-screen__text-subtitle {
    color: rgba(0,0,0,0.4);
    font-size: 20px;
   
}
.friends-main-screen {
    padding:0px 25px;
}
.friends-main-screen .friends-main__column:last-child {
    display:flex;
    flex-direction: column;
    justify-content:center;
    font-size: 25px;
}
.friends-main__column-messagenumber {
    border: 1px blue solid;
    display: block;
    width:30px;
    height: 30px;
    text-align: center;
    background-color: blue;
    color: white;
    border-radius: 50%;
    font-weight: 600;
}