.welcome-header h1{
    margin-bottom: 50px;
}
.welcome-header p{
    margin-bottom: 120px;
}
#login-form{
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 #login-form input{
     width: 80%;
     margin: 0px 30px;
     border: none;
     border-bottom: 1px solid gray;
     padding: 15px 0px;
     margin-bottom: 15px;
     font-size: 30px;
 }
 #login-form input:nth-child(2) {
     margin-bottom: 20px;
 }
 #login-form input::placeholder {
     font-size: 30px;
     opacity:0.7;
     
 }
 #login-form input:not([type='submit']) {
     transition: border-bottom-color 0.2s ease-in-out
 }
 #login-form input:focus{
     outline:none;
     border-bottom-color: red;
 }
 #login-form [type='submit'] {
     background-color: yellowgreen;
     font-size: 25px;
     margin-bottom: 15px;
     border-radius: 5px;
 }