.recommend{
    margin-top: 20px;
    border-top: var(--border);
    border-bottom: var(--border);
    padding:120px;
    text-align: center;
    font-size: 30px;
    position:relative;
}
.recommend .recommend__title {
    position:absolute;
    left: 10px;
    top: 15px;
    left: 20px;
}