.badge{
    background-color:red;
    color: white;
    width: 25px;
    height: 25px;
    /* display:block; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50%;
}