.nav{
    background-color: #f9f9fa;
    padding:20px 30px;
    position: fixed;
    bottom:0px;
    width:100%;
    box-sizing: border-box;
    border-top: 1px solid rgba(121,121,121,0.3);
}
.nav__list {
    display:flex;
    justify-content:space-around;
   
}
.nav__link{
    position:relative;
    color: #2e363e;
}


.nav__notification{
    position: absolute;
    left:18px;
    bottom: 15px;
}
